name: CI
on:
  push:
  pull_request:

jobs:
  flutter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          channel: 'stable'

      - run: flutter --version
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test
